router bgp {{device[inventory_hostname].asn}}
 bgp log-neighbor-changes
 neighbor {{hostvars.rtr4.private_ip}}
 neighbor {{hostvars.rtr4.private_ip}} ebgp-multihop 255
 neighbor {{hostvars.rtr4.private_ip}} update-source GigabitEthernet1
