router bgp {{device.inventory_hostname}}
 bgp log-neighbor-changes
 neighbor {{rtr4.private_ip}} {{device.rtr4.asn}}
 neighbor {{rtr4.private_ip}} ebgp-multihop 255
 neighbor {{rtr4.private_ip}} update-source GigabitEthernet1
